.session-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.session-item-card {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-details p {
  margin: 0;
  color: var(--secondary-text-color);
}

.session-details p strong {
  color: var(--primary-text-color);
}

.session-item-card a {
  text-decoration: none;
}
